<!DOCTYPE html>
<html>

<head>
    <title>{{ table_name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
</head>

<body>
    <div class="container">
        <h1>{{ table_name }}</h1>
        <!-- Use the table name as the heading -->
        <div class="form-container">
            <form id="query-form">
                <input type="text" name="query" placeholder="Enter query here" />
                <button type="submit">Execute Query</button>
            </form>
        </div>
        <a class="button home-button" href="/">Home</a>
    </div>
    <table id="result-table">
        <thead>
            <tr>
                <th class="row-number"></th>
                <!-- New row number column -->
                <th class="actions-column"></th>
                <!-- Renamed actions column -->
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if data %}
            {% for row in data %}
            <tr>
                <td class="row-number">{{ loop.index }}</td>
                <!-- Display row number -->
                <td class="actions-column">
                    <form method="POST"
                        action="{{ url_for('delete_record', table=table_name, record_id=row[0], column=columns[0]) }}">
                        <input type="hidden" name="column_name" value="{{ columns[0] }}" />
                        <button class="delete-button hidden-button" type="submit">Delete</button>
                    </form>
                    <form method="POST"
                        action="{{ url_for('edit_record', table=table_name, record_id=row[0], column=columns[0]) }}">
                        <input type="hidden" name="column_name" value="{{ columns[0] }}" />
                        <button class="edit-button hidden-button" type="button">Edit</button>
                    </form>
                </td>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td></td>
                <!-- Add an empty td tag for the gap -->
                <td class="actions-column" colspan="{{ columns|length + 1 }}">No records found.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <script src="/static/scripts.js"></script>
</body>

</html>
