body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th { /* Header */
    background-color: #f0f0f0;
    color: #333333;
    padding: 10px;
}

td { /* Value cel */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr { /* Row */
    height: 50px; /* Set a fixed height for the table rows */
}

tr:hover {
    background-color: #d0d0d0; /* Highlight the row when hovering */
}

tr:hover .hidden-button {
    display: inline-block;
}

.row-number {
    background-color: #e0e0e0;
    text-align: center;
    font-weight: bold;
    color: #333333;
    width: 30px; /* Set a fixed width for the row number column */
}

.actions-column {
    width: 150px;
}
.actions-column form {
    display: inline-block;
}

.button-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    flex-basis: 200px; /* Adjust the width as desired */
    margin: 10px;
}

.button:hover {
    background-color: #555;
}

.home-button {
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
}

.form-container {
    padding: 10px 20px;
    background-color: #f2f2f2;
}

#query-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#query-form input[type="text"] {
    flex: 1;
    max-width: 700px; /* You can adjust the max-width as desired */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#query-form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#query-form button:hover {
    background-color: #555;
}


.hidden-button {
    display: none;
}

.delete-button {
    padding: 5px;
    background-color: transparent;
    color: #d9534f;
    text-decoration: none;
    border: 1px solid #d9534f;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-button:hover {
    background-color: #d9534f;
    color: #fff;
}

.edit-button {
    padding: 5px;
    background-color: transparent;
    color: blue;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.edit-button:hover {
    background-color: blue;
    color: white;
}
